{% extends parent_template|default:"organizer/base_organizer.html" %}
{% block title %}
{{block.super}} - Delete Newslink
{% endblock  %}
{% block content %}
    <div>
        <div>
            <form action="{{ newslink.get_delete_url }}" method="post">
                {% csrf_token %}
                <p>
                    Are you sure you want to delete newslink {{newslink.link}}?
                </p>
                <a href="{{ newslink.get_absolute_url }}">Cancel</a>
                <button type="submit">Delete Newslink</button>
            </form>
        </div>
    </div>
{% endblock content %}